* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 40px;
}
.navbar {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.6rem 0;
  box-shadow: 0 0 2px gray;
}
.nav-logo {
  flex: 0 1 5%;
}
.nav-item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 0 1 50%;
}
.nav-item li {
  margin-left: 3rem;
  list-style: none;
  flex: 0 1 auto;
  padding-bottom: 0.2rem;
}
.nav-item li a {
  text-decoration: none;
  color: rgb(8, 61, 8);
}
.nav-search {
  flex: 0 1 20%;
  display: flex;
}
.nav-search input {
  box-shadow: 0 0 2px gray;
  border: none;
  width: 264px;
  padding: 0.6rem;
  border-radius: 1.25rem;
  text-indent: 30px;
  position: relative;
}
.nav-search img {
  position: absolute;
  z-index: 2;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  width: 25px;
}
.nav-login {
  padding-inline-start: 4rem;
  flex: 0 1 5%;
}
.nav-item li:hover {
  color: black;
  border-bottom: 2px solid rgb(4, 73, 4);
}
.nav-search input:focus {
  border: none;
  outline: none;
}